body{
    text-align: center;
   
}
h1{
    color:rgb(27, 123, 62);
}
h2{
    color:blue;
}
section{
    max-width: 45%;
    display: inline-block;
    padding: 2%;
    vertical-align: middle;
}
div{
    width: 100%;
}
ul{
    padding: 0;
}
li{
    display: block;
    width:fit-content;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}